<html ng-app="phonecatApp">
<head>
  <title>Floorplan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="controllers.js"></script>
  
</head>
<body ng-controller="PhoneListCtrl">
  <div id="display" style="position: absolute; left: 0px; top: 0px; right: 220px; bottom: 0px; background: #eef;">
    <div ng-repeat="item in items" style="position: absolute; 
	                                      left: {{item.left*multiplier+offsetLeft}};
										  top: {{item.top*multiplier+offsetTop}};
										  width:{{item.width*multiplier}};
										  height:{{item.height*multiplier}};
										  background: {{item.color}};
										  z-index: {{item.zIndex}};"></div>
  </div>
  
  <div id="sidebar" style="position: absolute; bottom:0px; height:350px; left: 0px; right: 0px;">
    <ul>
	  <li ng-repeat="item in items">
        <button ng:click="selectItem(item)" >{{item.name}}</button>
      </li>
    </ul>	  
	<div id="selectedItem" style="position: absolute; left: 300px; top: 0px; right: 0px; ">
	  Name: <input type="text" id="itemNameInput" ng-model="selectedItem.name" /> <br />
	  Top: <input type="text" id="itemNameInput" ng-model="selectedItem.top" /> <br />
	  Left: <input type="text" id="itemNameInput" ng-model="selectedItem.left" /> <br />
	  Height: <input type="text" id="itemNameInput" ng-model="selectedItem.height" /> <br />
	  Width: <input type="text" id="itemNameInput" ng-model="selectedItem.width" /> <br />
	  Color: <input type="text" id="itemNameInput" ng-model="selectedItem.color" /> <br />
	  zIndex: <input type="text" id="itemNameInput" ng-model="selectedItem.zIndex" /> <br />
	  Group: <input type="text" id="itemNameInput" ng-model="selectedItem.group" /> <br />
	  
	</div>
   </div>
</body>
</html>

