<html ng-app="phonecatApp">
<head>
  <title>Floorplan</title>
  <link rel="shortcut icon" href="favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="controllers.js"></script>
  
</head>
<body ng-controller="PhoneListCtrl">

  <div id="sidebar" style="height: 22px; width:100%; background: #C0E8F9; position: absolute; top: 0px; left: 0px; padding: 2px;" >
      <select ng-init="selectedRoom = selectedRoom || rooms[0]" 
	          ng-model="selectedRoom" ng-options="room as room.name for room in rooms"
	          >
	  </select>
	  <select ng-init="mySelect = mySelect || selectedRoom.items[0]" 
	          ng-model="mySelect" ng-options="item as item.name for item in selectedRoom.items"
	          ng-change="selectItemInDropDown()" >
	  </select>
	  <input type="checkbox" ng-model="showMeasurements" >Show measurements</input>
	  <button ng-click="deselectAllItems()" >Deselect item</button>
  </div>

  <div id="selectedItem" style="position: absolute; {{measurementBoxPlacement.positionString}} background: #6A9EB4; padding: 3px; z-index:1000; " ng-show="showMeasurements">
	    <table>
	      <tr><td>Name:</td><td><input type="text" id="itemNameInput" ng-model="selectedItem.name" style="width: 80px;" /></td></tr>
  	      <tr><td>Top:</td><td ng-repeat="part in selectedItem.parts"><input type="text" id="itemNameInput" ng-model="part.top" style="width: 80px;" /></td></tr>
	      <tr><td>Left:</td><td ng-repeat="part in selectedItem.parts"><input type="text" id="itemNameInput" ng-model="part.left" style="width: 80px;" /></td></tr>
	      <tr><td>Height:</td><td ng-repeat="part in selectedItem.parts"><input type="text" id="itemNameInput" ng-model="part.height" style="width: 80px;" /></td></tr>
	      <tr><td>Width:</td><td ng-repeat="part in selectedItem.parts"><input type="text" id="itemNameInput" ng-model="part.width" style="width: 80px;" /></td></tr>
	      <tr><td>Color:</td><td ng-repeat="part in selectedItem.parts"><input type="text" id="itemNameInput" ng-model="part.color" style="width: 80px;" /></td></tr>
	      <tr><td>zIndex:</td><td ng-repeat="part in selectedItem.parts"><input type="text" id="itemNameInput" ng-model="part.zIndex" style="width: 80px;" /></td></tr>
	      <tr><td>Visible:</td><td><input type="checkbox" id="itemNameInput" ng-model="selectedItem.visible" /></td></tr>
		  <tr><td>&nbsp;</td></tr>
		  <tr><td>This box</td><td>
		    <select ng-init="measurementBoxPlacement = measurementBoxPlacement || measurementBoxPlacements[0]" 
	          ng-model="measurementBoxPlacement" ng-options="item as item.name for item in measurementBoxPlacements" >
	        </select>
	      </td></tr>
	    </table>
  </div>
  
  
  <div id="display" style=" background: #eef; position: absolute; top: {{displayTop}}px; left: {{displayLeft}}px; width: {{displayWidth()}}px; height: {{displayHeight()}}px;">
    <div ng-repeat="item in selectedRoom.items" >
	  <div ng-repeat="part in item.parts"
	     ng-show="item.visible"
	     style="position: absolute; 
	                                      left: {{part.left*multiplier+offsetLeft}};
										  top: {{part.top*multiplier+offsetTop}};
										  width:{{part.width*multiplier}};
										  height:{{part.height*multiplier}};
										  background: {{part.color}};
										  z-index: {{part.zIndex}};
										  border-width: {{part.border}}px;
										  border-style: solid;
										  border-color: #ff0000;" ng:click="selectItemInDisplay(item)" ></div>
    </div>
  </div>
  
</body>
</html>

